body {
    background-color: black;
}


h1{
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color: white;
    position: absolute;
    margin-top: 3%;
    left: 70px;
    opacity: 0.3;
}


h2{
    font-family: Bulmer MT Std;
    font-size: 39px;
    color: white;
    position: absolute;
    top: 370px;
    left: 300px;
}

h3 {
    font-family: Bulmer MT Std;
    font-size: 39px;
    color: white;
    position: absolute;
    top: 400px;
    left: 360px;
}

.line {
    position: absolute;
    top: 190px;
    left: 715px;
    width: 4.5%;
}

h4{
    font-family: Bulmer MT Std;
    font-size: 39px;
    color: white;
    position: absolute;
    top: 371px;
    left: 1070px;
}

.lonely {
    position: absolute;
    top: 386px;
    left: 1166px;
    width: 12%;
}


h5 {
    font-family: Bulmer MT Std;
    font-size: 28px;
    color: white;
    position: absolute;
    top: 730px;
    left: 590px;

}

p {
    position: absolute;
    color: white;
    top: 782px;
    left: 50px;
    font-size: 30px;
}

h7 {
    position: absolute;
    top: 810px;
    left: 1410px;
    color: white;
    font-size: 30px;
}

a {
    color: white;
}