body {
    background-color: black;
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}


h1 {
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color: white;
    opacity: 0.3;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 10%;
}

h2{
    font-family: Bulmer MT Std;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 370px;
    left: 60px;
}

h3 {
    font-family: Bulmer MT Std;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 390px;
    left: 90px;
}

.line {
    position: absolute;
    top: 270px;
    left: 175px;
    width: 10%;
}

h4{
    font-family: Bulmer MT Std;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 360px;
    right: 90px;
}

.lonely {
    position: absolute;
    top: 366.5px;
    right: -2px;
    width: 23%;
}


h5 {
    font-family: Bulmer MT Std;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 630px;
    left: 86px;

}

p {
    position: absolute;
    color: white;
    top: 730px;
    left: 35px;
    font-size: 30px;
    padding-bottom: 15%;
}

h7 {
    position: absolute;
    top: 760px;
    right: 30px;
    color: white;
    font-size: 30px;
}

a {
    color: white;
}