* {
    box-sizing: border-box;
    vertical-align: top;
}

.square {
    background: #F8E71C;
    width: 768px;
    height: 768px;
    position: relative;
}

.rel {
    position: relative;
    left: 365px;
    top: 50px;
}