.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}


body {
    background-color: black;
}


.eyes1 {
    position: relative;
    top: -20px;
    left: 30px;
    width: 20%;
}

.eyes2 {
    position: relative;
    top: 200px;
    left: 50px;
    width: 20%;
}

.eyes3 {
    position: relative;
    top: -130px;
    left: 30px;
    width: 20%;
}


.eyes4 {
    position: relative;
    top: 360px;
    left: 90px;
    width: 20%;
}

.eyes5 {
    position: relative;
    top: 240px;
    left: 10px;
    width: 20%;
}

.eyes6 {
    position: relative;
    top: -290px;
    left: 50px;
    width: 20%;
}

.eyes7 {
    position: relative;
    top: -230px;
    left: 170px;
    width: 20%;
}

.eyes8 {
    position: relative;
    top: 270px;
    left: -110px;
    width: 20%;
}

.eyes9 {
    position: relative;
    top: 350px;
    left: -100px;
    width: 20%;
}

.eyes10 {
    position: relative;
    top: -160px;
    left: 20px;
    width: 20%;
}

h1 {
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color: white;
    opacity: 0.3;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 10%;
}


h2 {
    font-family: Bulmer MT Std;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 110px;
    top: 380px;
}

h3 {
    font-family: Bulmer MT Std;
    font-size: 20px;
    color: white;
    position: absolute;
    left: 115px;
    top: 400px;
}


.circle {
    position: relative;
    top: 212px;
    left: 65px;
    width: 68%;
}

p {
    position: absolute;
    top: 720px;
    left: 35px;
    font-size: 30px;
    margin-bottom: 15%;
}

h4 {
    position: absolute;
    top: 708px;
    right: 35px;
    font-size: 30px;
}

a {
    color: white;
}

