.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color: black;
    opacity: 0.3;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 10%;
}

.left {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 50%;
}

.right {
    position: absolute;
    top: 900px;
    right: 0px;
    width: 40%;
}

.right2 {
    position: absolute;
    top: 550px;
    right: 0px;
    width: 42%;
}

.right3 {
    position: absolute;
    top: 1360px;
    right: 0px;
    width: 70%;
    opacity: 0.2;
}


.text {
    position: absolute;
    top: 400px;
    left: 165px;
    width: 14%;
    opacity: 0.6;
    margin-bottom: 8%;
}

.left2 {
    position: absolute;
    top: 1080px;
    left:-40px;
    width: 80%;
    opacity: 0.2;
}


p {
    position: absolute;
    top: 1900px;
    left: 35px;
    font-size: 30px;
}

h2 {
    font-family: Bulmer MT Std Display;
    font-size: 20px;
    color: rgb(61, 61, 61); 
    position: absolute;
    top: 1170px;
    left: 50px;
}

h3 {
    position: absolute;
    top: 1900px;
    right: 35px;
    font-size: 30px;
    margin-bottom: 15%;
}

a {
    color:black;
}