.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color: black;
    opacity: 0.3;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 10%;
}

h2 {
    font-family: Bulmer MT Std;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 200px;
    left: 40px;
}

h3 {
    font-family: Bulmer MT Std;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 230px;
    left: 40px;
}

h4 {
    font-family: Bulmer MT Std;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 320px;
    left: 40px;
}


h5 {
    font-family: Bulmer MT Std;
    font-size: 30px;
    color: black;
    position: absolute;
    top: 350px;
    left: 40px;
}


.pocket {
    position: absolute;
    top: 520px;
    right: -40px;
    width: 90%;
}


h7 {
    font-family: Bulmer MT Std Display;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 980px;
    left: 86px;
    margin-bottom: 30%;
}

.arrow {
    position: absolute;
    top: 1020px;
    right: 70px;
    width: 25%;
}

h8 {
    font-family: Bulmer MT Std Display;
    font-size: 18px;
    color: black;
    opacity: 0.6;
    position: absolute;
    top: 1170px;
    right: 10px;
}

h9 {
    font-family: Bulmer MT Std Display;
    font-size: 18px;
    color: black;
    opacity: 0.6;
    position: absolute;
    top: 1120px;
    left: 20px;
}

.arrow2 {
    position: absolute;
    top: 1030px;
    left: 60px;
    width: 25%;
}


.arrow3 {
    position: absolute;
    top: 880px;
    left: 70px;
    width: 20%;
}

h10 {
    font-family: Bulmer MT Std Display;
    font-size: 16px;
    color: black;
    opacity: 0.6;
    position: absolute;
    top: 900px;
    left: 20px;
}

p {
    position: absolute;
    color: white;
    top: 1230px;
    left: 35px;
    font-size: 30px;
    margin-bottom: 15%;
}

h11 {
    position: absolute;
    color: white;
    top: 1260px;
    right: 35px;
    font-size: 30px; 
    margin-bottom: 5%;
}

a {
    color: black;
}