
body {
    background: #ffffff;
    font-size: 20px;
    text-align: Center;
    font-family: Bulmer Italic, serif;
  } 

h1 { 
    font-size: 80px;
    color: black;
}

h2 {
    font-size: 30px;
    color: rgb(65, 66, 77)
}

p {
    font-size: 20px;
    list-style-type: none;
    color: #ffffff;
}

.small {
    width: 10px;
}

.medium {
    width: 10px;
}


.content {
    background: rgb(128, 70, 153);
}