
body {
    background: #ffffff;
    font-size: 20px;
    text-align: Center;
    font-family: Bulmer, serif;
  } 

h1 { 
    font-size: 80px;
    color: rgb(41, 41, 41);
}

h2 {
    font-size: 30px;
    color: #595959;
}

p {
    font-size: 20px;
    font-family: Bulmer BT, italic;
}

a {color: #59B48C}

a:hover {color: rgb(41, 41, 41)}

.small {width: 10px;}

.medium {width: 10px;}