body {
    background-color: #3E3E3E;
}


h1{
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color: white;
    position: absolute;
    margin-top: 3%;
    left: 70px;
    opacity: 0.2;
}

h2{
    font-family: Bulmer MT Std;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 230px;
    left: 150px;
}

h3{
    font-family: Bulmer MT Std;    
    font-size: 60px;
    color: white;
    position: absolute;
    top: 380px;
    left: 310px;
}

h4{
    font-family: Bulmer MT Std;    
    font-size: 80px;
    color: white;
    position: absolute;
    top: 500px;
    left: 540px;
}

h5{
    font-family: Bulmer MT Std;    
    font-size: 80px;
    color: white;
    position: absolute;
    top: 680px;
    left: 840px;
}

h6{
    font-family: Bulmer MT Std, Regular;    
    font-size: 40px;
    color: white;
    position: absolute;
    top: 1530px;
    left: 525px;
}

h7 {
    font-family: Bulmer BT, Italic;    
    font-size: 40px;
    color: white;
    position: absolute;
    top: 1620px;
    left: 584px;
}


h8 {
    font-family: Bulmer MT Std;    
    font-size: 40px;
    color: white;
    position: absolute;
    top: 1625px;
    left: 860px;
}

h9 {
    font-family: Bulmer MT Std;    
    font-size: 30px;
    color: white;
    margin-bottom: 3%;
    position: absolute;
    top: 3px;
    left: 1320px;
}

img{
    position: absolute;
    left: 890px;
    width: 40%;
}

a {
    font-family: Bulmer MT Std;    
    font-size: 30px;
    color: white;
    margin-bottom: 3%;
    position: absolute;
    top: 2600px;
    left: 65px;
}

