h1 {
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color: black; 
    position: absolute;
    margin-top: 3%;
    left: 70px;
    opacity: 0.5;
    }

h2 {
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 200px;
}

h2:hover{color: black;}

h2:hover:after {
    content: url(../img/rose1.jpg);
    position: absolute;
    left: 400px;
    top: 90px;
}

h3 {
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 290px;
    left: 200px;
}

h3:hover{color: black;}

h3:hover:after {
    content: url(../img/rose2.jpg);
    position: absolute;
    left: 400px;
    top: -10px;
}

h4 {
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 380px;
    left: 200px;
}

h4:hover{color:black;}

h4:hover:after{
    content: url(../img/rose3.jpg);
    position: absolute;
    top: -116px;
    left: 400px;
}

h5{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 460px;
    left: 1200px;
}

h5:hover{color:black;}

h5:hover:after {
    content: url(../img/plant.jpg);
    position: absolute;
    top: 300px;
    right: 530px;

}

h6{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 540px;
    left: 1190px;
}

h6:hover{color:black;}

h6:hover:after{
    content: url(../img/plant2.jpg);
    position: absolute;
    top: 93px;
    right: 468px;
}

.h7{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 770px;
    left: 1205px;
}

.h7:hover{
    color:rgb(156, 0, 0);
}

.h7:hover:after{
    content: url(../img/plant3.jpg);
    position: absolute;
    top: -78px;
    right: 367px;
}

.h8{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 880px;
    left: 1210px;
}


.h9{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 1000px;
    left: 1195px;
}


p {
    font-family: Bulmer BT, italic;
    position: absolute;
    bottom: -230px;
    left: 750px;
    padding-bottom: 5%;
}
