.wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}


.flower {
    width: 50%;
    position: absolute;
    top: 590px;
    left: 100px;
}

.plant {
    width: 50%;
    position: absolute;
    top: 1480px;
    left: 95px;
}

h1 {
    font-family: Bulmer BT, Italic;
    font-size: 25px;
    color:black;
    opacity: 0.3;
    text-align: center;
    width: 100%;
    padding: 0;
    margin-top: 10%;
}

h2 {
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 40px;
}

h3 {
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 290px;
    left: 40px;
}


h4 {
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    cursor: pointer;
    position: absolute;
    top: 380px;
    left: 40px;
}


h5{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 890px;
    right: 40px;
}


h6{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 950px;
    right: 40px;
}

.h7{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 1160px;
    right: 40px;
}


.h8{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 1260px;
    right: 40px;
}

.h9{
    font-family: Bulmer BT Std;
    font-size: 50px;
    color: rgb(194, 194, 194);
    position: absolute;
    top: 1360px;
    right: 25px;
}

a {
    font-family: Bulmer BT, italic;
    font-size: 20px;
    position: absolute;
    top: 1800px;
    left: 180px;
    padding-bottom: 20%;
    text-decoration: none;
    color: rgb(73, 73, 73);

}
